3D/~$*.SLDASM
3D/~$*.SLDPRT
3D/Electrical/*.*
ToDo.txt
Assembling manual.docx
~$sembling manual.docx
~WRL0004.tmp
~$$Structure.~vsdx
Structure.vsdx
Drawings/~$*.SLDDRW
Render/
LaserCNCMachine.drawio
~$LaserCNCMachine.drawio.dtmp
Drawings/CNC_BOM.xls
Drawings/End Sensors CNC Cable - Copy.SLDDRW
